@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900italic);
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

p {
  -webkit-margin-before:0em;
-webkit-margin-after:0em;
}

.grey-text {
  color: #40666D;
}

.light-grey-text {
  color: #878787;
}

.top-home-main {
  width: 100%;
  height: 400px;
  background: url('../img/wot-masthead-dark.jpg') bottom no-repeat;
  background-size: cover;
  position: relative;
}
.nav-wrapper {
  width: 100%;
  height: 75px;
}

.hamburger {
  height: 50px;
  width: 50px;
  background: url("../img/white-hamburger.png") no-repeat;
  background-size: contain;
  float: right;
  margin: 5px 5px 0 0;
}

.logo-top {
  width: 180px;
  height: 50px;
  float: left;
  background: url("http://wideopentech.com/themes/wot-2013-gm/_/img/wot-logo-whitex2.svg") no-repeat;
  margin: 5px 0 0 5px;
}

.nav {
  display: none;
  width: 65%;
  height: 50px;
  background: none;
  padding-top: 15px;
  /*margin-right: 25%;*/
}

.nav-link {
  color: white;
  display: inline-block;
  margin-left: 15px;
}
.contact {
  color: white;
  display: inline-block;
  margin-left: 15px;
  background: #c0d635;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
}

.intro-wrapper {
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.workshop {
  width: auto;
  height: auto;
  /*border: 1px solid black;*/
  color: white;
  text-align: center;
  margin: 0 auto 0 auto;
}

.building-solutions {
  color: white;
  font-size: 20px
}

.workshop-span {
  font-size: 75px;
  margin: auto;
  font-family: sans-serif;
  display: block;
}


.learn-more {
  width: 80%;
  height: 50px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  color: white;
  text-align: center;
  background: #c0d635;
  padding-top: 15px;
}

.descrip {
  width: 100%;
  height: auto;
  /*background: grey;*/
  padding-top: 20px;
  background: #f0f0f0;
}

.mid-container {
  width: 90%;
  height: auto;
  /*border: 1px solid black;*/
  margin: 0 auto 0 auto;
  background: #f0f0f0;
}

.descrip-text {
  font-size: 27px;
  text-align: center;
}

.divider {
  /*border: 1px solid black;*/
  height:auto;
  width: 100%;
}

.tool-pic {
  width: 75px;
  height: 75px;
  /*border: 1px solid black;*/
  margin: auto;
  background: url('../img/firstpic.png') bottom no-repeat;
  background-size: cover;
  margin-top: 15px;

}

.how-help {
  /*border: 1px solid black;*/
  height: auto;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.it-works {
  font-size: 27px;
  text-align: center;
}

.middle-icons {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
}

.tools {
  width: 100%;
  height: 300px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.divide-wrapper {
  display: flex;
  flex-direction: column;
}
.inner-tool1 {
  height: 100px;
  width: 100px;
  margin: auto;
  background: url('../img/fourthpic.png') bottom no-repeat;
  background-size: cover;
  margin-top: 10px;
}

.inner-tool2 {
  height: auto;
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 10px;
}

.inner-tool3 {
  height: auto;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.inner-tool4 {
  width: 50px;
  height: 50px;
  background: url('../img/arrowpic.png') bottom no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: 10px;
}

.help-section {
  width: 100%;
  height: auto;
  background: #F0F0F0;
  padding-top: 10px;
}

.lower-mid-cont {
  width: 90%;
  height: auto;
  /*border: 1px solid black;*/
  margin: 0 auto 0 auto;
  text-align: center;
}

.descrip-text2 {
  font-size: 27px;
  text-align: center;
}

.solutions {
    width: 90%;
    height:200px;
    /*border: 1px solid black;*/
    margin: 0 auto 10px auto;
    background: white;
    padding-top: 30px;
}

.contact-button {
  width: 150px;
  height: 50px;
  /*border: 1px solid black;*/
  border-radius: 10px;
  margin: auto;
  padding-top: 15px;
  background: #c0d635;
  color: white;
  font-family: sans-serif;
}

@media (min-width: 700px) {
  .hamburger{
    display: none;
  }
  .nav {
    display: block;
    float: right;
  }
  .mid-cont1 {
    width: 33%;
  }
  .workshop-span {
    font-size: 150px
  }
  .learn-more {
    margin-top: 20px;
    width: 200px;
  }
  .middle-icons {
    flex-direction: row;
    width: 100%;
    display: flex;
  }
  .divide-wrapper {
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
